@use 'sass:math';
@import '../../styles/utilities';

$dot-size: 1px;
$dot-space: 1rem;
$transparent: rgba(0, 0, 0, 0);

%DottedBackground {
  background-color: var(--background-color);
  background: var(--background-overlay),
    radial-gradient(var(--background-dot-color) $dot-size, $transparent 0),
    var(--background);
  background-blend-mode: var(--background-blend-mode), normal, normal;
  background-size: 100% 100%, $dot-space * 2 $dot-space * 2, 100% 100%;
}

.PageOuterWrapper {
  width: 100%;
  overflow: hidden;
  --skew-angle-unitless: 10;
  &.Dark {
    --text-color: white;
    --trailing-text-outline-color: hsla(0, 100%, 100%, 0.8);
    --background-color: black;
    --trailing-text-color: var(--background-color); /* Need to set this again */
    --background: linear-gradient(black, black);
    --background-blend-mode: lighten;
    --background-dot-color: white;
  }
  &.Colorful {
    --background-dot-color: black;
    --background-overlay: linear-gradient(135deg, #{$rainbow-colors});
    --background-blend-mode: lighten;
    --trailing-featured-text-color: transparent;
    --trailing-featured-text-background: linear-gradient(
      135deg,
      #{$rainbow-colors}
    );
    &.Dark {
      --background-dot-color: white;
      --background-blend-mode: darken;
    }
  }
}

// Should have a negative margin with the length
// of the oposing side of the triangle angle
//    adjacent -> 50vw
//  ----------------
//  \  angle -> 2º  |
//        \         |  oposite -> X
//               \  |
//                 V
// Formula to use
// toa
// tan(a) = oposite / adjacent
// oposite = tan(a) * adjacent

.PageWrapper {
  z-index: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --triangle-oposite-side: calc(
    #{calculate-tan(var(--skew-angle-unitless))} * 50vw
  );
  padding: calc(2 * var(--triangle-oposite-side)) 0;
  margin: calc(-1 * var(--triangle-oposite-side)) 0;
  transform: skewY(calc(var(--skew-angle-unitless) * 1deg));
  color: var(--text-color);
  @extend %DottedBackground;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $container-width;
  min-height: calc(100vh - 2 * var(--triangle-oposite-side));
  padding: 0 1em;
}
