extends layout/default

block content
  if data.article
    article.article
      header.article-header
        .container
          h2 #{data.article.title}
          h4 #{functions.formatDate(data.article.date)}
      section.article-body
        .container
          p #{data.article.body}
      //- footer
      //-   .comment-section
    
