doctype html
html(lang="en")
  head
    title Light
    meta(http-equiv="X-UA-Compatible", content="IE=9")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet", href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600')
    link(rel="stylesheet", href="css/style.css")
  body
    h1 Under Construction.
    .container
      form
        label
          span.sr-only First Name
          input(type="text", placeholder="First Name")
        label
          span.sr-only Last Name
          input(type="text", placeholder="Last Name")
        label
          span.sr-only Email
          input(type="email", placeholder="Email")
        label
          span.sr-only Password
          input(type="password", placeholder="Name")
        label
          span Remember Me
          input(type="checkbox")
          span.checkbox
        input(type="submit", value="Submit")
      ul
        li
          a.btn(href="#")
            span Connect
        li
          a.btn.yellow(href="#")
            span Request Sent
        li
          a.btn.green(href="#")
            span Connected
        li
          a.btn.red(href="#")
            span Disconnect