.DS_Store
node_modules
.yarn
dist
*.css.map
*.sublime-workspace
package-lock.json
.sass-cache

/tests/e2e/reports/

# local env files
.env
.env.local
.env.*.local

*.log*

# Editor directories and files
.idea
.vscode