extends layout/default

block content
  section.full-height
    .container
      //- h1 José Maria Carneiro
      h1 josecarnei.ro
      h2 Full-Stack Developer
      ul
        each link in data.social
          li
            a(href= link.url)=link.name
  if env === 'development'
    section.code-container
      .line-numbers
        ul
          each val, index in new Array(50)
            li= index + 1
      .container
        h1 Motivation Letter
        //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et esse numquam eos, debitis sequi iusto id voluptate dignissimos, voluptatum repellendus! Dicta laboriosam odio sapiente harum reiciendis corrupti quos ad ab!
        p My name is José Maria Carneiro. I'm a self-taught full-stack developer living in Lisbon, Portugal.
        p I studied Management at Católica Lisbon School of Business and Economics.
