extends layout/default

block content
  section.code-container
    .line-numbers
      each val, index in new Array(50)
        div=index + 1
    .container
      h1 Motivation Letter
      //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et esse numquam eos, debitis sequi iusto id voluptate dignissimos, voluptatum repellendus! Dicta laboriosam odio sapiente harum reiciendis corrupti quos ad ab!
      p My name is José Maria Carneiro. I'm a self-taught full-stack developer living in Lisbon, Portugal.
      p I studied Management at Católica Lisbon School of Business and Economics.