@import "variables";
@import "mixins";
@import "reset";
@import "general";
@import "typography";
// @import "code";

a {
  display: inline-block;
  color: $anchor-color;
  text-decoration: none;
  background-color: transparent;
  transition: color $speed-medium $ease-cubic;
  &:active,
  &:hover {
    color: inherit;
    outline: 0;
  }
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2em;
  @include media("medium") {
    flex-direction: row;
  }
  li {
    margin-bottom: (1.75 / 2) * 1em;
    @include media("medium") {
      margin-right: 1em;
    }
  }
}

// STRUCTURAL

.full-height {
  display: flex;
  align-items: center;
  border: 0 solid $white;
  overflow: hidden;
  @include media("extra-small") {
    border-width: 1em;
  }
}

.container {
  width: 100%;
  max-width: 80rem;
  padding: 0 1em;
  margin: 0 auto;
  @include media("medium") {
    padding: 0 2em;
  }
}
