// GENERAL STYLES

html,
body,
.shell,
.full-height {
  height: 100%;
  width: 100%;
}

html {
  background-color: $white;
}

body {
  font-family: $font-body;
  font-weight: 300;
  line-height: 1.75em;
  color: $page-color;
  background-color: $page-background;
}
