// An opinionated reset

* {
  &,
  &:after,
  &:before {
    box-sizing: border-box;
  }
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: inherit;
}

article,
aside,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

ul,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a,
button {
  background-color: transparent;
  cursor: pointer;
  &:active,
  &:hover {
    outline: 0;
  }
}

strong {
  font-weight: bold;
}

// small {
//   font-size: 0.875em;
// }

// img {
//   border: 0;
// }

// pre {
//   overflow: auto;
// }

// code,
// pre {
//   font-family: monospace;
//   font-size: 1em;
// }

// button,
// input,
// select,
// textarea {
//   margin: 0;
//   font: inherit;
//   line-height: inherit;
//   color: inherit;
// }

// textarea {
//   overflow: auto;
//   resize: vertical;
// }
