* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
}

a {
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  font-size: 3.75em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  // font-size: 1.25em;
  font-size: 1.125em;
}

h5 {
  // font-size: 1.125em;
  font-size: 0.875em;
}

h6 {
  font-size: 0.875em;
}

small {
  font-size: 0.875em;
}

sup,
sub {
  font-size: 0.75em;
}

em {
  font-weight: bold;
}

strong {
  font-weight: bold;
  text-transform: uppercase;
}

b {
  font-weight: bold;
}
