@import 'variables';
@import 'mixins';
@import 'base';

@page {
  margin: 2.5em 2.5em;
}

html {
  font-size: $text-base-font-size;
  @media screen {
    padding: 2em 2.5em;
  }
}

body {
  font-family: $text-font-family;
  line-height: 2;
  @media screen {
    padding: 2em 2.5em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $heading-line-height;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h6 {
  font-weight: normal;
}

h5 {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
header,
article,
section,
div {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

p {
  &:not(:last-of-type) {
    margin-bottom: 0;
  }
}

main {
  margin: 0 auto;
  @media screen {
    max-width: $page-width;
  }
  article {
    page-break-inside: avoid;
  }
  & > header {
    margin-bottom: 2rem !important;
    h1,
    h3 {
      font-weight: normal;
    }
    ul {
      font-size: 0.875em;
      display: flex;
      gap: 1em;
    }
  }
}

section {
  & > h2 {
    // margin-bottom: 1.5rem !important;
    font-weight: normal;
    // font-family: sans-serif;
    // color: $grey-light;
    // font-weight: lighter;
    // transform: rotate(-90deg) translateY(-3rem) translateX(-10em);
    // transform-origin: top left;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: $grey;
  }
}

article {
  h6 {
    color: $grey;
  }
  article {
    h3 {
      font-size: 1.25em;
      color: $grey-dark;
    }
  }
}

.role {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // h4,
  // h6 {
  //   margin: 0;
  // }
}

article {
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h2,
    h3,
    h4,
    h6 {
      margin: 0;
      margin-bottom: 0 !important;
    }
  }
}

.institution {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

// .volunteering {
//   article {
//     font-size: 0.75em;
//   }
// }
