// BUTTON
button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  line-height: inherit;
}

.btn {
  display: inline-block;
  padding: 1.25em;
  color: inherit;
  line-height: inherit;
  border: 2px solid transparent;
}

.btn-default {
  border-color: $grey-darkest;
}
