@mixin no-select {
  -webkit-user-select: none;
  user-select: none;
}

@mixin outline-text($size: 0.75px, $color: white) {
  -webkit-text-stroke-width: $size;
  -webkit-text-stroke-color: $color;
}

@mixin text-gradient($background) {
  background: $background;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
