.full-height {
  display: flex;
  align-items: center;
  border: 0 solid $white;
  overflow: hidden;
  @include media('extra-small') {
    border-width: 1em;
  }
}

.container {
  width: 100%;
  max-width: 85rem;
  padding: 0 1em;
  margin: 0 auto;
  @include media('medium') {
    padding: 0 2em;
  }
}
