$font-family-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$font-family: 'Roboto Mono', $font-family-base;

$rainbow-colors: white, #feaf7e, #f35b8f, #a161fc, #628dff, #6ff1dd;
$sky-colors: #000819, #000832, #001031;

// $body-font-size: 1.75em;
// $body-font-size: 1.5em;
$body-desired-font-size: 2.25vmin;
$body-font-size: clamp(0.5em, #{$body-desired-font-size}, 8em);
$body-line-height: 2;
$heading-line-height: 1.125;
$heading-font-size: 6.75em;

$container-width: 34em;
