doctype html
head
  title Blog
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  link(rel="icon" href= settings.base + "/favicon.ico")
  link(rel='stylesheet', href= settings.base + '/css/style.css')
  //- OUTPUT LOCAL VARIABLES TO CONSOLE IF APP ENV IS DEVELOPMENT 
  if settings.env === 'development'
    script.
      console.log(!{JSON.stringify(locals)})
body
  .container
    header
      a(href="/blog/admin") Admin
      if admin
        form(method="post", action= settings.base + '/logout')
          input(type="submit", value="Logout")
    block content
