@import '../styles/utilities';

.HomePage {
  h1 strong,
  p {
    background: var(--trailing-featured-text-background);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--trailing-featured-text-color);
  }
}
