@use 'sass:math';
@import '../../styles/utilities';

$trail-levels: 10;
$trail-distance: math.div(1, 16 * 1.25) * 1em;
$trail-outline-width: 0.75px;

.Title {
  position: relative;
  transform-origin: top center;
  span {
    color: var(--trailing-featured-text-color);
    display: inline-block;
    &:first-child {
      z-index: 1;
    }
    &:not(:first-child) {
      position: absolute;
      bottom: 0;
      left: 0;
      @include outline-text(
        $trail-outline-width,
        var(--trailing-text-outline-color)
      );
      -webkit-text-fill-color: var(--trailing-text-color);
      color: var(--trailing-text-color);
      opacity: 0;
      @include no-select;
      pointer-events: none;
      @for $i from 1 through $trail-levels + 1 {
        &:nth-child(#{$i + 1}) {
          z-index: -$i;
          opacity: 1 - math.div($i, $trail-levels);
          transform: translate($trail-distance * $i, -$trail-distance * $i);
        }
      }
    }
  }
}
