@use 'sass:math';
@import '../../styles/utilities';

$trail-levels: 10;
$trail-distance: math.div(1, 16 * 1.25) * 1em;
$trail-outline-width: 0.75px;

.Title {
  position: relative;
  transform-origin: top center;
  strong,
  small {
    display: inline-block;
    font-size: inherit;
  }
  strong {
    z-index: 1;
  }
  small {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--trailing-text-color);
    -webkit-text-stroke-width: $trail-outline-width;
    -webkit-text-stroke-color: var(--trailing-text-outline-color);
    opacity: 0;
    @include no-select;
    pointer-events: none;
    @for $i from 1 through $trail-levels + 1 {
      &:nth-child(#{$i + 1}) {
        z-index: -$i;
        opacity: 1 - math.div($i, $trail-levels);
        transform: translate($trail-distance * $i, -$trail-distance * $i);
        $distance-multiplier: $i * $trail-distance-multiplier * 1em;
        transform: translate(
          calc(var(--skew-angle-unitless) * #{$distance-multiplier}),
          calc(var(--skew-angle-unitless) * #{-1 * $distance-multiplier})
        );
      }
    }
  }
}
