extends layout/default

block content
  a(href="/blog/admin/new") Create Article
  if data.articles
    ul
      for article in data.articles
        li
          a(href= settings.base + '/edit/' + article._id)
            h2 #{article.title}
            p #{article.body}
    if data.pagination
      -var pagination = data.pagination;
      nav.nav-horizontal
        ul
          if pagination.previous
            li
              a(href= settings.base + "/page/" + pagination.previous)= pagination.previous
          //- if pagination.current
          //-   li
          //-     span= pagination.current
          if pagination.next
            li
              a(href= settings.base + "/page/" + pagination.next)= pagination.next