// RESET

body,
ul,
li {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: inherit;
}

article,
aside,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

ul,
li {
  padding: 0;
}

li {
  list-style: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 0.875em;
}

img {
  border: 0;
}

pre {
  overflow: auto;
}

code,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
a {
  cursor: pointer;
}


input {
  line-height: normal;
}

textarea {
  overflow: auto;
}
