@import 'reset';
@import 'variables';
@import 'mixins';
@import 'general';

html {
  padding: 1em;
  background-color: $white;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-body;
  color: $page-color;
  background-color: $page-background;
  overflow: hidden;
}

a {
  display: inline-block;
  color: $anchor-color;
  text-decoration: none;
  background-color: transparent;
  transition: color $speed-medium $ease-cubic;
  &:active,
  &:hover {
    color: inherit;
    outline: 0;
  }
}

h1,
h2 {
  // margin: 0 0 .6em;
  font-weight: 300;
}

h1 {
  font-size: 2.5em;
  @include media('small') {
    font-size: 3em;
  }
  @include media('medium') {
    font-size: 4em;
  }
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include media('medium') {
    flex-direction: row;
  }
  li {
    @media (min-width: $tablet) {
      margin-right: 1em;
    }
    a {
      padding: 0.75rem 0;
    }
  }
}

// STRUCTURAL

.container {
  display: flex;
  align-items: center;
  justify-content: stretch;
  max-width: 80rem;
  padding: 1em 2em;
  margin: 0 auto;
}

.vertical-align {
  flex: 1 1 auto;
}
