// VARIABLES
$white: #fff;
$grey-dark: #555;
$black: #111;

$ease-cubic: cubic-bezier(.55, 0, .5, .75);
$speed-medium: 0.3s;

$tablet: 929px;

$blue: #0015ff;

$page-background: #f3f3f3;
// $page-background: $blue;
$page-color: $black;
$anchor-color: $grey-dark;
$anchor-color: $grey-dark;

$font-body: 'Inconsolata', 'Roboto Mono', monospace;
