// VARIABLES

$white: #fff;
$grey-lightest: #f3f3f3;
$grey-dark: #555;
$black: #111;

$blue: #0015ff;

$ease-cubic: cubic-bezier(.55, 0, .5, .75);
$speed-medium: 0.3s;

$page-background: $grey-lightest;
// $page-background: $blue;
$page-color: $black;
$anchor-color: $grey-dark;
$anchor-color: $grey-dark;

// $font-body: 'Inconsolata', 'Roboto Mono', monospace;

// $font-body: 'Fira Mono', monospace; // NICE FOR HEADINGS
// $font-body: 'Roboto Mono', monospace;
$font-body: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
// $font-body: 'Source Code Pro', monospace; // OKAY FOR HEADINGS
