html,
body,
body > div,
.full-height {
  height: 100%;
  width: 100%;
}

html {
  background-color: $white;
}

body {
  font-family: $font-body;
  font-weight: 300;
  line-height: 1.75em;
  color: $page-color;
  background-color: $page-background;
}

@include selection {
  color: $white;
  background: $selection-color;
}

a {
  display: inline-block;
  color: $anchor-color;
  text-decoration: none;
  background-color: transparent;
  transition: color $speed-medium $ease-cubic;
  &:active,
  &:hover {
    color: inherit;
    outline: 0;
  }
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2em;
  @include media('medium') {
    flex-direction: row;
  }
  li {
    margin-bottom: (1.75 / 2) * 1em;
    @include media('medium') {
      margin-right: 1em;
    }
  }
}
